<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package
    Name="ATLAS"
    Manufacturer="cipherfps"
    Version="$(var.ProductVersion)"
    UpgradeCode="8c7fecab-4ce9-43a5-9bb4-3bce5af7fb7f"
    Compressed="yes"
    Scope="perUser">
    <MajorUpgrade
      AllowDowngrades="yes" />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="AtlasIcon" SourceFile="$(var.IconPath)" />
    <Property Id="ARPPRODUCTICON" Value="AtlasIcon" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="INSTALLROOT" Name="ATLAS Backend">
        <Directory Id="INSTALLFOLDER" Name="ATLAS Backend" />
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="AppDataFolder">
      <Directory Id="AtlasAppDataFolder" Name="ATLAS" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="AppProgramMenuFolder" Name="ATLAS" />
    </StandardDirectory>

    <ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
      <Files Include="$(var.BuildRoot)\**" />
    </ComponentGroup>

    <Component Id="StartMenuShortcut" Guid="3e18f4e5-3f6b-4c1e-9b4e-9bf7fc3eec6b" Directory="AppProgramMenuFolder">
      <Shortcut
        Id="AtlasShortcut"
        Name="ATLAS"
        Target="[INSTALLFOLDER]ATLAS.exe"
        WorkingDirectory="INSTALLFOLDER"
        Icon="AtlasIcon" />
      <Shortcut
        Id="AtlasUninstallShortcut"
        Name="Uninstall ATLAS"
        Target="[SystemFolder]msiexec.exe"
        Arguments="/x [ProductCode] DISABLEROLLBACK=1 MSIFASTINSTALL=7 TEMP=&quot;[LocalAppDataFolder]Temp&quot; TMP=&quot;[LocalAppDataFolder]Temp&quot;"
        WorkingDirectory="SystemFolder"
        Icon="AtlasIcon" />
      <RemoveFolder Id="RemoveProgramMenuFolder" Directory="AppProgramMenuFolder" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\cipherfps\ATLAS" Name="installed" Type="integer" Value="1" KeyPath="yes" />
    </Component>

    <Component Id="DriveRootShortcuts" Guid="b9f7b3e7-3f2e-4e7a-a2f9-4c68780b8a5c" Directory="INSTALLROOT">
      <Shortcut
        Id="AtlasRootShortcut"
        Name="ATLAS"
        Target="[INSTALLFOLDER]ATLAS.exe"
        WorkingDirectory="INSTALLFOLDER"
        Icon="AtlasIcon" />
      <Shortcut
        Id="AtlasRootUninstallShortcut"
        Name="Uninstall ATLAS"
        Target="[SystemFolder]msiexec.exe"
        Arguments="/x [ProductCode] DISABLEROLLBACK=1 MSIFASTINSTALL=7 TEMP=&quot;[LocalAppDataFolder]Temp&quot; TMP=&quot;[LocalAppDataFolder]Temp&quot;"
        WorkingDirectory="SystemFolder"
        Icon="AtlasIcon" />
      <RegistryValue Root="HKCU" Key="Software\cipherfps\ATLAS" Name="root_shortcuts" Type="integer" Value="1" KeyPath="yes" />
    </Component>

    <StandardDirectory Id="DesktopFolder" />

    <Component Id="RemoveUserAppData" Guid="191eadc5-d399-499c-80b2-a513999a5e58" Directory="AtlasAppDataFolder">
      <RemoveFile Id="RemoveGuiIni" Name="gui.ini" On="uninstall" />
      <RemoveFolder Id="RemoveAtlasAppDataFolder" Directory="AtlasAppDataFolder" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\cipherfps\ATLAS" Name="appdata_cleanup" Type="integer" Value="1" KeyPath="yes" />
    </Component>

    <Feature Id="MainFeature" Title="ATLAS" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="StartMenuShortcut" />
      <ComponentRef Id="DriveRootShortcuts" />
      <ComponentRef Id="RemoveUserAppData" />
    </Feature>

    <Property Id="INSTALLDESKTOPSHORTCUT" Value="1" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Create desktop shortcut" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
    <Property Id="DISABLEROLLBACK" Value="1" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.LicenseFile)" />

    <CustomAction
      Id="LaunchAtlas"
      Directory="INSTALLFOLDER"
      ExeCommand="&quot;[INSTALLFOLDER]ATLAS.exe&quot;"
      Return="asyncNoWait"
      Impersonate="yes" />
    <CustomAction
      Id="CreateDesktopShortcut"
      Directory="SystemFolder"
      ExeCommand="powershell.exe -NoProfile -ExecutionPolicy Bypass -WindowStyle Hidden -Command &quot;$wsh = New-Object -ComObject WScript.Shell; $shortcut = $wsh.CreateShortcut('[DesktopFolder]ATLAS.lnk'); $shortcut.TargetPath = '[INSTALLFOLDER]ATLAS.exe'; $shortcut.WorkingDirectory = '[INSTALLFOLDER]'; $shortcut.IconLocation = '[INSTALLFOLDER]ATLAS.exe,0'; $shortcut.Save()&quot;"
      Return="ignore"
      Impersonate="yes" />
    <CustomAction
      Id="RemoveDesktopShortcut"
      Directory="DesktopFolder"
      ExeCommand="cmd.exe /C if exist &quot;[DesktopFolder]ATLAS.lnk&quot; del /Q &quot;[DesktopFolder]ATLAS.lnk&quot;"
      Return="ignore"
      Impersonate="yes" />

    <SetProperty Id="TempFolder" Value="[LocalAppDataFolder]Temp" Before="CostInitialize" Sequence="both" />
    <SetProperty Id="TEMP" Value="[LocalAppDataFolder]Temp" Before="CostInitialize" Sequence="both" />
    <SetProperty Id="TMP" Value="[LocalAppDataFolder]Temp" Before="CostInitialize" Sequence="both" />

    <ui:WixUI Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLROOT" />

    <UI>
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="RemoveDesktopShortcut" Condition="WIXUI_EXITDIALOGOPTIONALCHECKBOX &lt;&gt; 1 AND NOT Installed" />
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="CreateDesktopShortcut" Condition="WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 AND NOT Installed" />
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchAtlas" Condition="NOT Installed" />
    </UI>

    <InstallExecuteSequence>
      <Custom Action="RemoveDesktopShortcut" Before="RemoveFiles" Condition="REMOVE=&quot;ALL&quot;" />
    </InstallExecuteSequence>

 

  </Package>
</Wix>
